@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
}
html {
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
html, body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#login, #register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: block;
  margin: 0;
}
.login {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0,);
  background: #eee;
  border-radius:5px;
  padding: 60px;
  width: 360px;
  text-align: center;
}
.login h3 {
  margin: 0 auto 10px;
}

.login input{
  margin: 20px auto 0;
  padding: 20px;
  display: block;
  width: 260;
}

 .login input [type=submit] {
   background: #ccc
   border: none;
   border-radius: 10;
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 1px;
 }
.login input[type=submit]:hover {
  background: #ffff
 }
.login a{
  color: black;
  display: block;
  font-size: 14px;
  margin: 10px auto 0;
}
nav {
background: #242424;
color: #fff;
height: 80px;
line-height: 80px;
padding: 0 20px;
position: relative;
text-align: center;
}
nav a {
  color: #ddd;
  float: right;
}
/*logo*/
nav h1 {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

}
section{
  background: #fff;
  margin: 100px auto 0;
  width: 320px;
  padding: 20px;
}
section h2{
  margin: 0 auto;
  text-align: center;

}
