/* Layout */

html, body {
  height: 100%;
}
/* Layout End */

/* land page */
video#videoContainer {
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

/* splash */
#splashScreen{
  align-items: center;
  background: #000;
  display: flex;
  justify-content: center;
  z-index: 2;
  display: fixed;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

}
#splashScreen::before {
animation: splashScreenAinmation 2.50s both;
background: url(../img/CocaCola_logo_2.png) no-repeat center ;
content:'';
display: block;
height: 148px;
width: 220px;
}

/* splash */
 main {
  width: 520px;
  text-align: center;
}

/* img längd upp/ner */
  main img{
    margin: 250 auto 250px;
  }

  main a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    margin: auto 15px ;
}

/* animations */
@keyframes splashScreenAinmation {
from {
    opacity: 0;
    transform: translate3d(0, -300%, 0);
  }
  75% {
    opacity: 50;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 0%, 0);
  }
 }
/* animations END */
