/* Layout */

html, body {
  height: 100%;
}
/* Layout End */

/* land page */
video#videoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
/* land page end */

 h1{
  color: #cccc;
  border-radius:
}
 main{
  background: #fff;
  height: 520px;
  width: 520px;
}
